{% extends "base.html" %}

{% block title %}Page d'acceuil{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="">
            <form method="post" class="">
                <label for="code" class="mb-3">Entrez le code d'accès</label>
                <div class="mb-3 ">
                    <input type="text" name="username" id="username" placeholder="username" required class="form-control">
                    <input type="text" name="code" id="code" placeholder="code" required class="form-control">
                </div>
                <button class="btn btn-outline-secondary mb-3" type="submit">Connexion</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}